.card-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}

.cards-h2-wrapper {
    text-align: center;
    margin-bottom: 20px;
}

.card-wrapper .user-wrapper {
    min-width: 300px;
    background-color: #cdcdcd;
    margin: 10px;
    padding: 10px;
    position: relative;
}

.userName-wrapper {
    margin-bottom: 20px;
}
.card-wrapper .user-wrapper .user-img-wrapper {
    width: 240px;
    height: 240px;
    background-color: #fff;
    margin: 10px auto;
}

.card-wrapper ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px
}

.card-wrapper ul li {
   list-style-type: none;
}

.user-wrapper a {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    cursor: pointer;
}